PORT=4000

# URLs
FRONT_URL=http://localhost:5173
BACK_URL=http://127.0.0.1:4000

# Mercado Pago
MP_ACCESS_TOKEN=APP_USR-89629439925117-022412-d9da6e42cba59754b913365721b3cfdc-3224356026

# Webhook (opcional, pero recomendado para forzar URL pública en prod)
MP_WEBHOOK_URL=

# Admin panel (login)
ADMIN_USER= miriam
ADMIN_PASSWORD=0221